html,
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.symbol {
  width: fit-content;
  display: none;
  margin: 0 auto 0 auto;
  transform: translate(0px, 20px);
}

.symbol img {
  display: none;
}

.container {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.name {
  width: fit-content;
  transform: translate(0, 50px);
  margin: 169px auto 0 auto;
  user-select: none;
  display: none;
}

.name h1 {
  font-size: 51.3px;
  margin: 0 auto;
  cursor: default;
  width: fit-content;
  color: white;
  display: none;
  transform: translate(0, -50px);
  font-weight: 500;
  font-family: Arial;
  text-align: center;
}

#askName {
  border: none;
  border-bottom: 3px solid white;
  padding: 0;
  background-color: transparent;
  text-align: center;
  width: 100%;
  color: white;
  display: none;
  position: relative;
  font-family: Arial;
  bottom: 34px;
  left: 2px;
  font-size: 51px;
}

.warning {
  width: fit-content;
  margin: 46px auto 0 auto;
  color: white;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.9s, opacity 0.5s 0.9s;
  user-select: none;
}

.continue {
  position: relative;
  top: -21px;
  bottom: 21px;
  width: fit-content;
  margin: 0 auto 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s, top 0.45s, bottom 0.45s;
}

@media screen and (max-width: 1365px) {
  .continue {
    left: 0;
  }
}

.continue button {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 7px 23px 8px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  letter-spacing: 0.7px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.continue span i {
  font-size: 15px;
  transform: translate(3px, 0.4px);
}

.continue button:hover {
  background-color: rgba(255, 255, 255, 0.045);
  /* background-color: white; */
  /* color: #444; */
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: white;
}
